{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier", "react-hooks"],
  "extends": ["eslint:recommended", "@react-native-community", "plugin:prettier/recommended"],
  "rules": {
    "@typescript-eslint/no-unused-vars": ["error"],
    "arrow-parens": ["error", "always"],
    "arrow-spacing": ["error"],
    "block-spacing": ["error", "always"],
    "brace-style": ["error", "1tbs"],
    "camelcase": ["error"],
    "default-case": ["error"],
    "eol-last": ["error"],
    "eqeqeq": ["error"],
    "global-require": ["error"],
    "max-lines": ["error", 400],
    "max-params": ["error", 5],
    "newline-before-return": ["error"],
    "no-cond-assign": ["error", "always"],
    "no-console": ["error"],
    "no-dupe-keys": ["error"],
    "no-duplicate-case": ["error"],
    "no-else-return": ["error"],
    "no-magic-numbers": ["error"],
    "prefer-const": ["error"],
    "prefer-template": ["error"],
    "quotes": ["error", "double"],
    "semi": ["off"],
    // Using the 'no-shadow' rule of typescript instead of eslint
    "no-shadow": ["off"],
    "@typescript-eslint/no-shadow": ["error"]
  }
}
